@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300,400,500,600,700,800,900& display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body {
    background-image: url("/Images/beat-audio-bg.jpg") no-repeat;
    width: 100%;
    height: 100%;
    color: black;
    background-position: center;
    background-size: cover;
    padding: 10px 10px;
    display: grid;
}
.header{
    border: 2px solid whitesmoke;
    width: 100%;
}
/* .header h2{
    color: black ;
    font-size: 30px;
    font-weight: 500;
} */
.navbar{
    text-align: center;
    padding: 10px;
    color: red;
    background-color: transparent;
    justify-content: space-evenly;
    justify-items: center;
    font-size: 30px
}
.pictures{
    background-color: transparent;
    display: flexbox;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    text-align: center;
    color: red;
}
.btn {
    position:relative;
    color: black;
    font-size: 20px;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 5px;
    border: 3px solid black;
    text-align: center;
}
.btn:hover{
    background-color: red;
    color:black  ;
}
.social-icons{
    bottom: 0rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40rem;
}
.social-icons a {
    padding: 0rem;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    border-spacing: 1rem;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 20px;
    color:black ;
    z-index: 1;
    transition: 0.4s;
}
.social-icons a:hover{
    background-color: red;
}
.social-icons a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 0;
    height: 100%;
    background: red;
    z-index: -1;
    transition: 0.4s;
}
